<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron|Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Videos{{#if title}} - {{title}}{{/if}}</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body class="{{page}}">
  <div class="wrapper">
    <div id="header">
      <ul class="breadcrumb">
        {{#each breadcrumbs}}
        <li><a href="{{this.url}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
      <div class="client-control">
        {{#if useWebsockets}}
          <div id="client-id"><input type="text"></input></div>
          {{#if isRemote}}
          <div id="room-list"><select name="rooms"><option value="---">---</option></select></div>
          {{/if}}
        {{else}}
          <span><a href="/remote" title="you can also use '/remote/name_of_remotecontrol/name_of_monitor'">Remote</a></span>
          <span><a href="/monitor" title="you can also use '/monitor/name_of_monitor'">Monitor</a></span>
        {{/if}}
      </div>
    </div>
    {{{body}}}
    <div id="overlay"><button></button></div>
    <div id="dbg"></div>
</div>
  {{#if nonce}}
    <script nonce="{{nonce}}">
      {{#each jsInit}}
        let {{@key}}="{{this}}";
      {{/each}}
    </script>
  {{/if}}
  <script src="/common.js"></script>
  {{#each scripts}}
    <script src="/{{this}}"></script>
    {{/each}}
</body>
</html>

